<html>
<head>
	<title></title>
</head>
<body>

	<h1>Vote here</h1>

	<h2>Title: {{ question.title }}</h2>
	<p>Question: {{ question.question }}</p>

	<p>How will you vote <strong>{{ user.username }}</strong>?</p>

	{% if already_voted %}
		<p><strong>You have already voted. Are you sure you want to change you vote?</strong></p>
	{% endif %}

	<form method="post" action="/users/{{ user.username }}/question/{{ question.key }}">

		<input type="hidden" name="question" value="{{ question.key }}">
		<input type="hidden" name="user" value="{{ user.key }}">

		<label><input type="radio" name="selection" value="aye"> Yes</label>
		<label><input type="radio" name="selection" value="no"> No</label>
		<label><input type="radio" name="selection" value="dont-care"> Don't care</label>
		<label><input type="radio" name="selection" value="dont-understand"> Don't understand</label>

		<p><input type="submit" value="Vote"></p>

	</form>

</body>
</html>